.main {
  width: 50%;
  margin: 0 auto;
}

.call-to-action {
  color: grey;
}

.alert {
  color: red;
  text-align: center;
}

form table td {
  width: 50%;
}

.label-cell {
  text-align: right;
}

.input-cell {
  text-align: left;
}

